workflows/morning-push.json
{
  "name": "Morning Push",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 8, "triggerAtMinute": 30 }]
        }
      },
      "id": "mp-schedule-1",
      "name": "Schedule (08:30)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/juliokoelle/julio-brain/contents/10_Daily/{{ $now.format('yyyy-MM-dd') }}.md",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept",        "value": "application/vnd.github.v3+json" }
          ]
        }
      },
      "id": "get-briefing-1",
      "name": "Fetch Today's Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.content }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "briefing-exists-1",
      "name": "Briefing Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = Buffer.from(items[0].json.content, 'base64').toString('utf-8');\nconst lines = raw.split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.length > 0 && !l.startsWith('#') && !l.startsWith('---'))\n  .slice(0, 5)\n  .join('\\n');\nconst date = new Date().toLocaleDateString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });\nreturn [{ json: { message: `☀️ *Guten Morgen!* Briefing ${date} ist bereit.\\n\\n${lines}` } }];"
      },
      "id": "format-msg-1",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-morning-1",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Schedule (08:30)": {
      "main": [[{ "node": "Fetch Today's Briefing", "type": "main", "index": 0 }]]
    },
    "Fetch Today's Briefing": {
      "main": [[{ "node": "Briefing Ready?", "type": "main", "index": 0 }]]
    },
    "Briefing Ready?": {
      "main": [
        [{ "node": "Format Message", "type": "main", "index": 0 }],
        []
      ]
    },
    "Format Message": {
      "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "notes": "NEW: Reads today's briefing from julio-brain (GitHub) at 08:30 and sends a preview to Telegram. Fires after the Gmail Briefing workflow (08:15) has had time to run."
}
