workflows/telegram-bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "tg-trigger-1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-bot",
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "has-text-1",
      "name": "Has Text?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MARKET_TOOLS_BACKEND_URL }}/capture",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "text": "={{ $('Telegram Trigger').item.json.message.text }}",
          "chat_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
        }
      },
      "id": "classify-route-1",
      "name": "Classify & Route",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.reply }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "has-reply-1",
      "name": "Has Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-reply-1",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 100],
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ Gespeichert.",
        "additionalFields": {}
      },
      "id": "send-ack-1",
      "name": "Send Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Has Text?", "type": "main", "index": 0 }]]
    },
    "Has Text?": {
      "main": [
        [{ "node": "Classify & Route", "type": "main", "index": 0 }],
        []
      ]
    },
    "Classify & Route": {
      "main": [[{ "node": "Has Reply?", "type": "main", "index": 0 }]]
    },
    "Has Reply?": {
      "main": [
        [{ "node": "Send Reply", "type": "main", "index": 0 }],
        [{ "node": "Send Ack",   "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "notes": "Replaces Mac LaunchAgent com.julio.telegram-bot. Set Telegram webhook to: https://<your-domain>/webhook/telegram-bot. Classification and routing handled by /capture endpoint on Render."
}
